/* Dashboard.css */

/* General styles */
body {
    background-color: #f5f5f5; /* Light background */
    color: #333; /* Dark text for readability */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
}

nav.nav {
    width: 200px; /* Fixed width for the nav */
    background-color: #111; /* Dark background for the nav */
    color: #fff; /* White text */
    padding: 20px;
    height: 100vh; /* Full height of the viewport */
    position: fixed; /* Fix position on the left */
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

nav.nav a {
    color: #818181;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 10px 0;
}

nav.nav a:hover {
    color: #f1f1f1;
}

nav.nav ul {
    list-style-type: none;
    padding: 0;
}

nav.nav .nav-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

/* Main content styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.main-content.with-sidebar {
    margin-left: 220px; /* Adjust based on the width of the nav */
}

.main-content.without-sidebar {
    margin-left: 20px; /* Small margin when sidebar is hidden */
}

.toggle-button {
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-button div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Toggle Button Bars */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Other styles */
.leftSide, .rightSide {
    padding: 20px;
}

